<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" >
    <head>
        <title>benh vien detail</title>
    <th:block th:replace="base :: styles"></th:block>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />

    <style>

    </style>
</head>
<body >
    <div th:replace="base :: header"></div>
    <div th:if="${successMessage}" class="alert alert-success" role="alert" style="margin-top: 50px">
        <span th:text="${successMessage}"></span>
    </div>

    <div th:if="${errorMessage}" class="alert alert-danger" role="alert" style="margin-top: 50px">
        <span th:text="${errorMessage}"></span>
    </div>
    <div class="container mf" >   
        <form th:action="@{/admin/benhviens/update}" th:object="${benhvien}" method="post">           
            <input  class="form-control" id="id" placeholder="id" name="id"   th:field="*{id}" type="hidden" >        
            <p class="h2">Bệnh viện</p>
            <div class="mb-3 mt-3">
                <label for="" class="form-label">Tên bệnh viện :</label>
                <input type="text" class="form-control" id="tenBenhVien" placeholder="Tên bệnh viện" name="tenBenhVien"   th:field="*{tenBenhVien}" required>
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Giới thiệu :</label>
                <input type="text" class="form-control" id="gioiThieu" placeholder="Giới thiệu" name="gioiThieu"  th:field="*{gioiThieu}" required>
            </div>    
            <div class="mb-3">
                <label for="" class="form-label">Địa chỉ :</label>
                <input type="text" class="form-control" id="diaChi" placeholder="Địa chỉ" name="diaChi" th:field="*{diaChi}" required>
            </div>           
            <div class="mb-3">
                <label for="ngayThanhLap" class="form-label">Ngày thành lập :</label>
                <label for="ngayThanhLap" class="form-label" th:text="*{ngayThanhLap}"></label>     
                <input type="date" class="form-control" id="ngayThanhLap" name="ngayThanhLap"  max="{{ 'now' | date('yyyy-MM-dd') }}" th:field="*{ngayThanhLap}" required>
            </div>
            <button type="submit" class="btn btn-primary">Cập nhật</button>           
        </form>
        <button type="submit" class="btn btn-danger" th:onclick="'deleteBenhVien(\'' + @{/admin/api/benhviens} + '\', ' + ${benhvien.id} + ', \'' + @{/admin/benhviens} + '\')'"  style="margin-top: 20px;">Xóa</button>

        <p class="h3">Khoa :</p>
        <div class="container-fluid" style="justify-content: center;display: flex;align-items: center">
            <button type="button" class="btn btn-info" th:onclick="'loadKhoa(' + ${benhvien.id} + ')'" >Xem khoa</button>
        </div>
        <div class="list-group mt-3" id="khoaList">

        </div>
        <div class="container-fluid mt-3" style="justify-content: center;display: flex;align-items: center" >
            <ul class="pagination">
                <li class="page-item"><a class="page-link"  th:onclick="'changePage(1, ' + ${benhvien.id} + ')'"><</a></li>

                <li class="page-item"><a class="page-link" id="next-page-button" th:onclick="'changePage(2, ' + ${benhvien.id} + ')'">></a></li>
            </ul>
        </div>
        <button type="submit" class="btn btn-success mt-3" th:onclick="'window.location.href=\'' + @{/admin/khoas/create_form(benhVienId=${benhVienId}, tenBenhVien=${benhvien.tenBenhVien})} + '\''" >Tạo khoa</button> 
    </div>
    <script th:src="@{/js/benhvien_detail.js}"></script>
</body>
</html>

