<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" >
    <head>
        <title>Trang chủ</title>
    <th:block th:replace="base :: styles"></th:block>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <style>

    </style>
</head>
<body>
    <div th:replace="base :: header"></div>

    <div class="container mf" >   
        <form th:action="@{/admin/benhvien/create}" th:object="${benhvien}" method="post">
            <div class="mb-3 mt-3">
                <label for="" class="form-label">Tên bệnh viện :</label>
                <input type="text" class="form-control" id="email" placeholder="Tên bệnh viện" name="tenBenhVien" required>
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Giới thiệu :</label>
                <input type="text" class="form-control" id="pwd" placeholder="Giới thiệu" name="gioiThieu" required>
            </div>    
            <div class="mb-3">
                <label for="" class="form-label">Địa chỉ :</label>
                <input type="text" class="form-control" id="pwd" placeholder="Địa chỉ" name="diaChi" required>
            </div> 
            <div class="mb-3">
                <label for="ngayThanhLap" class="form-label">Ngày thành lập :</label>
                <input type="date" class="form-control" id="ngayThanhLap" name="ngayThanhLap"  max="{{ 'now' | date('yyyy-MM-dd') }}" required>
            </div>
            <button type="submit" class="btn btn-primary">Tạo</button>
        </form>
    </div>

</body>
</html>
