<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" >
    <head>
        <title>Trang chủ</title>
    <th:block th:replace="base :: styles"></th:block>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        .container{

            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <div th:replace="base :: header"></div>
    <div class="container">
        <p class="h1" th:inline="text">Xin chào [[${currentUserFullName}]]</p>
    </div>

    <!--    <div th:replace="base :: footer"></div>-->
</body>
</html>