<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" >
    <head>
        <title>Trang chủ</title>
    <th:block th:replace="base :: styles"></th:block>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />

    <style>

    </style>
</head>
<body >
    <div th:replace="base :: header"></div>

    <div class="container mf" >   
        <form th:action="@{/admin/khoas/create(benhVienId=${benhVienId})}" th:object="${khoa}" method="post">  
            <p class="h2">Tạo  khoa</p>
            <div class="mb-3 mt-3">
                <label for="" class="form-label">Tên khoa :</label>
                <input type="text" class="form-control" id="tenKhoa" placeholder="Tên khoa" name="tenKhoa" required>
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Mô tả :</label>
                <input type="text" class="form-control" id="moTa" placeholder="Mô tả" name="moTa" required>
            </div>      
            <div class="mb-3">
                <label for="" class="form-label">Thuộc bệnh viện :</label>
                <label for="tenbenhvien" class="form-label" th:text="${tenBenhVien}"></label>  
            </div>   
            <button type="submit" class="btn btn-success" >Tạo</button>           
        </form>                 
    </div>
</body>
</html>



