<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" >
    <head>
        <title>Trang chủ</title>
    <th:block th:replace="base :: styles"></th:block>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />

    <style>

    </style>
</head>
<body >
    <div th:replace="base :: header"></div>

    <div class="container mf" >   
        <form th:action="@{/admin/khoas/update(benhVienId=${benhvienid})}" th:object="${khoa}" method="post">           
            <input  class="form-control" id="id" placeholder="id" name="id"   th:field="*{id}" type="hidden" >   
                 
            <div class="mb-3 mt-3">
                <label for="" class="form-label">Tên khoa :</label>
                <input type="text" class="form-control" id="tenKhoa" placeholder="Tên khoa" name="tenKhoa"   th:field="*{tenKhoa}" required>
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Mô tả :</label>
                <input type="text" class="form-control" id="moTa" placeholder="Mô tả" name="moTa"  th:field="*{moTa}" required>
            </div>      
            <div class="mb-3">
                <label for="" class="form-label">Thuộc bệnh viện :</label>
                <label for="tenbenhvien" class="form-label" th:text="${tenbenhvien}"></label>  
            </div>   
            <div class="mb-3">
                <label for="createdDate" class="form-label">Ngày tạo :</label>
                <label for="createdDate" class="form-label" th:text="*{createdDate}"></label>                   
            </div>
            <button type="submit" class="btn btn-primary">Cập nhật</button>           
        </form>
        <button type="submit" class="btn btn-danger"  style="margin-top: 20px;" th:onclick="|deleteKhoa('@{/admin/api/khoas}', [[${khoa.id}]], '@{/admin/benhviens/{benhvienid}(benhvienid=${benhvienid})}')|" >Xóa</button>

        <p class="h3">Bệnh :</p>
        <div class="container-fluid" style="justify-content: center;display: flex;align-items: center">
            <button type="button" class="btn btn-info"  >Xem bệnh</button>
        </div>
        <div class="list-group mt-3" id="benhvienlist">

        </div>
        <div class="container-fluid mt-3" style="justify-content: center;display: flex;align-items: center" >
            <ul class="pagination">
                <li class="page-item"><a class="page-link"  ><</a></li>

                <li class="page-item"><a class="page-link" id="next-page-button" >></a></li>
            </ul>
        </div>
    </div>
    <script th:src="@{/js/khoa_detail.js}"></script>
</body>
</html>


