<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" >
    <head>
        <title>Work space admin</title>
    <th:block th:replace="base :: styles"></th:block>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <style>
       

        .list-group{
            margin: 50px;
        }

    </style>
</head>
<body>
     <div th:replace="base :: header"></div>
        <div class="container mf">
            <div class="list-group">
                <a th:href="@{/admin/benhviens}" class="list-group-item list-group-item-action h3">Quản lý bệnh viện</a>            
                <a th:href="@{/admin/users}" class="list-group-item list-group-item-action h3">Quản lý người dùng</a>
                <a th:href="@{/admin/statistics}" class="list-group-item list-group-item-action h3">Thống kê</a>
                <a th:href="@{/admin/verify-doctors}" class="list-group-item list-group-item-action h3">Xác nhận bác sĩ</a>
            </div>
        </div>
</body>
</html>

